* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.rubik-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.heading {
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.context-left {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    color:#4a4a4a;
}

.context-right {
    display: flex;
    align-items: center;
}

.context-right ul {
    display: flex;
    list-style: none;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.context-right li {
    display: inline-block;
}

.context-right a {
    color: #4a4a4a;
    text-decoration: none;
    font-size: 16px;
    padding: 1rem;
}

.context-right .follow-us {
    display: flex;
    align-items: center;
}

.context-right img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.overlay {
    position: relative;
    width: 100%;
}

.overlay img {
    width: 100%;
    height: auto;
    display: block;
}

.context-overlay {
    background-color: #9dc20a;
    display: flex;
    position: absolute;
    top: 170px;
    bottom: 170px;
    width: calc(50% - 200px);
    height: 50%; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid #979797;
    border-radius: 4px;
    text-align: center;
    left: 100px;
    margin: 0 20px;
    padding-bottom: 5px;
}

.context-overlay .instant {
    position: absolute;
    top: 32px;
}

.instant {
    position: absolute;
    top: 32px;
}

.format {
    position: absolute;
    top: 70px;
    font-size: 50px;
}

.context-overlay .instant p {
    font-style: italic;
    font-size: 32px;
    margin: 0px;
    font-weight: 700;
}

.context-overlay .text p {
    font-size: 20px;
    line-height: 1.4;
    color: white;
    margin-top: 70px;
    margin-left: 80px;
    margin-right: 80px;
}

.context-overlay .btn {
    margin-top: 26px;
}

.context-overlay .btn button {
    background-color: #4a4a4a;
    border: none;
    width: 408px;
    height: 64px;
    padding: 10px 20px;
    border-radius: 4px;
}

.context-overlay .btn button {
    color: white;
    font-size: 20px;
    line-height: 1.4;
    text-decoration: none;
}

.context-overlay .btn button:hover {
    cursor: pointer;
    background-color: lightsteelblue;
}

.context-overlay .btn button:active {
    background-color: lightgreen;
}

.features-section {
    display: flex;
    justify-content: space-between;
    padding: 4rem 5%;
    background-color: #f3f3f3;
    width: 100%;
    max-width: 100%;
}

.feature {
    width: 48%; 
    padding: 2rem;
    margin: 0 1.25rem;
    background-color: white;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}

.feature img {
    max-width: 100%; 
    height: auto;
    display: block;
    margin-bottom: 1rem;
}

.feature .content {
    padding: 0;
}

.feature h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    color: #4a4a4a;
    padding-bottom: 0.5rem;
}

.feature h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 300;
    color: #4a4a4a;
}

.filters {
    display: flex;
    flex-direction: column;
    min-height: 300px; 
    padding: 20px;
    text-align: center;
}

.filters .choose h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #4a4a4a;
}

.filters .choose h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4a4a4a;
    margin-top: 10px;
}

.filters .photos {
    margin-top: auto;
    margin-bottom: 64px;
}

.photos img {
    width: 22%;
    margin: 1%;
    display: inline-block;
    vertical-align: middle;
}

.quote {
    display: flex;
    height: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.quote p {
    display: inline;
    font-size: 30px;
    font-style: italic;
    color: #4a4a4a;
}

.quote img {
    margin-left: 30px;
}

.foot {
    background-color: #9b9b9b;
    height: 62px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

.foot-left, .foot-right {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
